* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  font-size: 100px;
}
html,
body {
  height: 100%;
  overflow: hidden;
  background: #E4E4E4;
}
.container {
  margin: 0 auto;
  max-width: 750px;
  height: 100%;
}
.cubeBox,
.swiperBox {
  display: none;
  height: 100%;
}
.cubeBox {
  position: relative;
  display: block;
  background: url(../images/zf_cubeBg.jpg) no-repeat center center;
  background-size: cover;
}
.cubeBox .tip {
  bottom: 0.5rem;
  width: 3.94rem;
  height: 0.44rem;
  background: url('../images/zf_cubeTip.png') no-repeat center center;
  background-size: cover;
}
